body {
    background-color: #DDDDDD;
}

main {
	font: normal 16px Arial, Helvetica, sans-serif;
    padding-top: 150px;
    padding-right: 20%;
    padding-left: 20%;
    width: 60%;
    position: center;
}

h1 {
	font: normal 32px 'Open Sans', Arial, Helvetica, sans-serif;
    float: center;
    text-align: center;
}

h2 {
	font: normal 24px 'Open Sans', Arial, Helvetica, sans-serif;
	float: right;
}

h3 {
	font-size: 28px;
	color:  #275486;
}

header {
	position: fixed;
	top: 0;
	left:0;
	right:0;

	z-index: 100;

	background-color: #282b2c;
 	padding: 10px 20px;
	color: #fff;
	box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
}

.arrondissements {
    text-align: center;
    float: left;
    width: 33%;
    margin: 0;
	padding-top: 30px;
	padding-bottom: 30px;
	opacity: 0.9;
}

.arrondissements li {
    text-align: center;
}

footer {
    padding-right: 0;
    padding-left: 0;
    position: fixed;
    text-align: center;
    bottom: 10px;
    width: 100%;
    font-size: 12px;
    color: #282b2c;
    opacity: 0.9;
}
